#pizzaShowMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#beverageShowMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 550px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#dessertShowMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    right: 200px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#showMenuButton {
    border-radius: 25px;
    position: fixed;
    left: 578px;
    top: 600px;
    height: 50px;
    width: 200px;
    background: floralwhite;
}

#showBillView {
    font-size: 40px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 400, 0.5);
}

#showBillConfirmButton {
    color: #333333;
    text-decoration: none;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 550px;
    height: 50px;
    width: 200px;
    background: floralwhite;
    text-align: center;
}

#showBillCancelButton {
    text-decoration: none;
    color: #333333;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 650px;
    height: 50px;
    width: 200px;
    background: floralwhite;
}

#addEditMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#rmEditMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    right: 650px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#showMenuInEditMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    right: 200px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#linkToShowMenu {
    text-decoration: none;
    color: #333333;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    left: 600px;
    top: 650px;
    height: 50px;
    width: 200px;
    background: floralwhite;
}

#headerForDeliveryTime {
    text-align: center;
    color: black;
    text-shadow: black;
    background-color: rgba(400, 400, 700, 0.5);
}

#homeButtonDeliverTime {
    text-decoration: none;
    color: #333333;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    left: 650px;
    top: 400px;
    height: 50px;
    width: 200px;
    background: floralwhite;
}

#pizzaSizeShowMenu {
    position: fixed;
    left: 330px;
    top: 200px;
    background: black;
    color: white;
    opacity: 0.5;
    padding-right: 20px;
    border-radius: 25px;
}