#pizzaShowMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#beverageShowMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 350px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#dessertShowMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 680px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#showMenuButton {
    border-radius: 25px;
    position: fixed;
    left: 380px;
    top: 440px;
    height: 50px;
    width: 200px;
    background: floralwhite;
}

#showMenuButton:hover {
    background-color: #555;
}

#showBillView {
    font-size: 30px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 400, 0.5);
}

#showBillConfirmButton {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 450px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#showBillConfirmButton:hover {
    background-color: #555;
}

#showBillCancelButton {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 250px;
    top: 450px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#showBillCancelButton:hover {
    background-color: #555;
}


#loggedInFirstButton {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 150px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#loggedInFirstButton:hover {
    background-color: #555;
}

#loggedInSecondButton {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 220px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#loggedInSecondButton:hover {
    background-color: #555;
}

#loggedInThirdButton {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 290px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#loggedInThirdButton:hover {
    background-color: #555;
}

#addEditMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#rmEditMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 500px;
    padding-top: 30px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    background-color: rgba(400, 400, 700, 0.5);
}

#updateEditMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 350px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#showMenuInEditMenu {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 680px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#linkToShowMenu {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 900px;
    top: 400px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#linkToShowMenu:hover {
    background-color: #555;
}

#addEditUsers {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#rmEditUsers {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 375px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#updateEditUsers {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 680px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#linkToShowRegisteredUsers {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 390px;
    top: 350px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#linkToShowRegisteredUsers:hover {
    background-color: #555;
}

#linkToAllOrders {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 120px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#linkToAllOrders:hover {
    background-color: #555;
}

#selectUserEditOrders {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 200px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#linkToShowRegisteredUsersInEditOrders {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 290px;
    top: 120px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#linkToShowRegisteredUsersInEditOrders:hover {
    background-color: #555;
}


#headerForDeliveryTime {
    font-size: 30px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#homeButtonDeliveryTime {
    text-decoration: none;
    color: #333333;
    text-align: center;
    padding-top:20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 300px;
    height: 40px;
    width: 200px;
    background: floralwhite;
}

#homeButtonDeliveryTime:hover {
    background-color: #555;
}

#pizzaSizeShowMenu {
    position: fixed;
    left: 60px;
    top: 415px;
    background: black;
    color: white;
    opacity: 0.5;
    padding-right: 20px;
    border-radius: 25px;
}

#simplebox {
    font-size: 20px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}

#simpleboxsmall {
    font-size: 15px;
    border-radius: 25px;
    position: fixed;
    left: 20px;
    top: 120px;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: rgba(400, 400, 700, 0.5);
}