body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

#h1ForEditMenu {
    color: red;
}

#bodyForEditMenu {
    background-image: url("../images/aceite_de_oliva_y_olivas_20130222_1207855933.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#editMenuInterface {
    font-size: 20px;
    color: greenyellow;
    position: absolute;
    right: 150px;
    top: 100px;
    list-style-type: none;
    font-weight: bold;
}

#linkToShowMenu {
    position: absolute;
    right: 60px;
    top: 700px;
    font-size: 30px;
}

#linkToShowMenu2 {
    color: white;
}

#selectMenuList {
    font-size: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

#pizzaList {
    position: absolute;
    left: 40px;
    top: 150px;
}

#bevarageList {
    position: absolute;
    right: 500px;
    top: 150px;
}

#dessertList {
    position: absolute;
    right: 100px;
    top: 150px;
}

#pizzaLabel {
    color: white;
    position: absolute;
    top: 120px;
    left: 75px;
    font-size: 30px;
}

#getränkeLabel {
    color: white;
    position: absolute;
    top: 120px;
    left: 480px;
    font-size: 30px;
}

#dessertLabel {
    color: white;
    position: absolute;
    top: 120px;
    left: 878px;
    font-size: 30px;
}

#bodyShowMenu {
    background-image: url("../images/981124-blackboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#sizeChoicePizza {
    position: absolute;
    top: 500px;
    left: 150px;
    color: white;
}

#sizeChoiceBeverage {
    position: absolute;
    left: 550px;
    top: 500px;
    color: white;
}

#MenuConfirmButton {
    position: absolute;
    right:200px;
    top: 500px;
    font-size: 20px;
}

