@(errorcode: String)(implicit request: play.api.mvc.RequestHeader)
@main(models.Company.name) {
    @if(errorcode.equals("register")) {
        <h1>Ihre angegebene Adresse liegt außerhalb des Lieferbereichs. Der Lieferbereich umfasst die Postleitzahlen:</h1>
        <p> 82057, 82061, 82065, 82069, 82131, 82229, 82234, @models.Company.zip, 82327, 82335, 82340, 82343, 82346</p>
        <p><a href="/register">Registrieren</a></p>
    }
    @if(errorcode.equals("login")) {
        <h1>Ihre eingegebenen Login-Daten sind fehlerhaft. Bitte versuchen Sie es erneut.</h1>
        <p><a href="/login">Einloggen</a></p>
    }
    @if(errorcode.equals("permissiondenied")) {
        <h1>Sie haben nicht die nötigen Zugriffsrechte.</h1>
        <p><a href="/login">Einloggen</a></p>
    }
    @if(errorcode.equals("inactive")) {
        <h1>Ihr Account ist deaktiviert. Kontaktieren Sie uns, um ihr Konto zu reaktivieren.</h1>
    }
    @if(errorcode.equals("emailused")) {
        <h1>Ihre Email ist bereits registriert. Melden Sie sich an oder nutzen Sie eine andere Email.</h1>
        <p><a href="/login">Einloggen</a></p>
        <p><a href="/register">Registrieren</a></p>
    }
    @if(errorcode.equals("atLeastOneProduct")) {
        <h1>Sie müssen mindestens bei einem Produkt die Menge größer 0 auswählen.</h1>
        <p><a href="/showMenu">Bestellung aufgeben</a></p>
    }
    @if(errorcode.equals("productDoesExist")) {
        <h1>Dieses Produkt existiert bereits. Bei Bedarf bitte aktivieren.</h1>
        <p><a href="/editMenu">Zurück zur Produktverwaltung</a></p>
    }
    @if(errorcode.equals("numberOfCategories")) {
        <h1>Es existieren bereits 3 Kategorien. Löschen Sie bitte eine Kategorie, um eine Neue hinzuzufügen.</h1>
        <p><a href="/editMenu">Zurück zur Produktverwaltung</a></p>
    }
}