@(errorcode: String)
@main(models.Company.name) {
    @if(errorcode.equals("register")) {
        <h1>Ihre angegebene Adresse liegt außerhalb des Lieferbereichs. Der Lieferbereich umfasst die Postleitzahlen:</h1>
        <p> 82057, 82061, 82065, 82069, 82131, 82229, 82234, @models.Company.zip, 82327, 82335, 82340, 82343, 82346</p>
        <p><a href="/register">Registrieren</a></p>
    }
    @if(errorcode.equals("login")) {
        <h1>Ihre eingegebenen Login-Daten sind fehlerhaft. Bitte versuchen Sie es erneut.</h1>
        <p><a href="/login">Einloggen</a></p>
    }
    @if(errorcode.equals("permissiondenied")) {
        <h1>Sie haben nicht die nötigen Zugriffsrechte.</h1>
        <p><a href="/login">Einloggen</a></p>
    }
    @if(errorcode.equals("inactive")) {
        <h1>Ihr Account ist deaktiviert. Kontaktieren Sie uns, um ihr Konto zu reaktivieren.</h1>
    }
}