@(users: List[User], userForm: Form[forms.CreateUserForm], editUserForm: Form[forms.EditUserForm], deleteUserForm: Form[forms.UserIDForm])

@main("Kunden bearbeiten") {
    <ul id="addEditUsers" style="list-style: none">Kunden hinzufügen:
        @helper.form(action = routes.UserController.addUser()) {
            @helper.inputText(userForm("Email"))
            @helper.inputPassword(userForm("Passwort"))
            @helper.inputText(userForm("Vorname"))
            @helper.inputText(userForm("Name"))
            @helper.inputText(userForm("Straße und Hausnummer"))
            @helper.inputText(userForm("Postleitzahl"))
            @helper.inputText(userForm("Stadt"))
            @helper.select(userForm("Rolle"), helper.options(List("Kunde", "Mitarbeiter")), '_label -> "Rolle")
            <input type="submit" value="Hinzufügen" />
        }
    </ul>

    <ul id="rmEditUsers" style="list-style: none">Kunden entfernen:
        @helper.form(action = routes.UserController.deleteUser()) {
            <li>@helper.select(deleteUserForm("Kunden-ID"), users.map(u => u.id.toString -> u.id.toString))</li>
            <li><input type="submit" value="Löschen"></li>
        }
    </ul>

    <ul id="updateEditUsers" style="list-style: none"> Kunden ändern:
        @helper.form(action = routes.UserController.editUser()) {
            @helper.select(editUserForm("Kunden-ID"), users.map(u => u.id.toString -> u.id.toString))
            @helper.inputText(editUserForm("Email"))
            @helper.inputPassword(editUserForm("Passwort"))
            @helper.inputText(editUserForm("Vorname"))
            @helper.inputText(editUserForm("Name"))
            @helper.inputText(editUserForm("Straße und Hausnummer"))
            @helper.inputText(editUserForm("Postleitzahl"))
            @helper.inputText(editUserForm("Stadt"))
            @helper.select(editUserForm("Rolle"), helper.options(List("Kunde", "Mitarbeiter")), '_label -> "Rolle")
            <input type="submit" value="Speichern" />
        }
    </ul>

    <p><a id="linkToShowRegisteredUsers" href="/showUsers">Registrierte Nutzer</a></p>
}