@(users: List[User], userOrdersForm: Form[forms.IDForm])(implicit request: play.api.mvc.RequestHeader)

@main("Bestellungen ansehen") {
    <p><a id="linkToAllOrders" href="/showOrdersEmployee">Alle Bestellungen ansehen</a></p>
    <ul id="selectUserEditOrders" style="list-style: none">Bestellungen eines bestimmten Kunden ansehen:
        @helper.form(action = routes.OrderController.showOrdersEmployeeU()) {
            @helper.select(userOrdersForm("CustomerID"), users.map(u => u.id.toString -> u.id.toString))
            <input type="submit" value="Auswahl absenden" />
        }
    </ul>
    <p><a id="linkToShowRegisteredUsersInEditOrders" href="/showUsers">Registrierte Nutzer</a></p>
}