
@import services.MenuService
@(addCategoryForm: Form[forms.CreateCategoryForm], updateCategoryForm: Form[forms.EditCategoryForm], rmCategoryForm: Form[forms.StringForm])(implicit request: play.api.mvc.RequestHeader)

@main("Kategorien verwalten") {

    <body id="bodyForEditMenu">

        <ul id="addEditMenu" style="list-style: none">Kategorie hinzufügen:
            @helper.form(action = routes.MenuController.addCategory()) {
                <li>@helper.inputText(addCategoryForm("Name"))</li>
                <li>@helper.select(addCategoryForm("Maßeinheit"), options = Seq("cm" -> "cm", "ml" -> "ml", "Stk" -> "Stk"))</li>
                <li><input type="submit" value="Hinzufügen"/></li>
            }
        </ul>

        <ul id="rmEditMenu" style="list-style: none">Kategorie entfernen:
            @helper.form(action = routes.MenuController.rmCategory()) {
                <li>@helper.select(rmCategoryForm("Kategorie"), MenuService.listOfCategories.map(p => p.category.toString -> p.category.toString))</li>
                <li><input type="submit" value="Entfernen"/></li>
            }
        </ul>

        <ul id="updateEditMenu" style="list-style: none">Kategorie abändern:
            @helper.form(action = routes.MenuController.updateCategory()) {
                <li>@helper.select(updateCategoryForm("Alter Name"), MenuService.listOfCategories.map(p => p.category.toString -> p.category.toString))</li>
                <li>@helper.inputText(updateCategoryForm("Neuer Name"))</li>
                <li><input type="submit" value="Ändern"></li>
            }
        </ul>


        <p><a id="linkToShowMenu" href="/showMenu">Zur Speisekarte</a></p>

    </body>
}