@(userForm: Form[forms.CreateUserForm])

@import views.html.helper

@main(models.Company.name) {
    <h1>Registrieren:</h1>
    <p> @helper.form(action = routes.UserController.addUser()) {
        @helper.inputText(userForm("Email"))
        @helper.inputPassword(userForm("Passwort"))
        @helper.inputText(userForm("Vorname"))
        @helper.inputText(userForm("Name"))
        @helper.inputText(userForm("Straße und Hausnummer"))
        @helper.inputText(userForm("Postleitzahl"))
        @helper.inputText(userForm("Stadt"))
        @helper.select(userForm("Rolle"), helper.options(List("Kunde")))
        <input type="submit" value="Speichern" />
    }
    </p>
}