@(products: List[models.Menu], billForm : Form[forms.CreateBillForm])

@main("Speisekarte") {

        <body id="bodyShowMenu">

            <h1>Willkommen zur Speisekarte</h1>

            @helper.form(action = routes.BillController.addToBill()) {

                <ul>
                    <li>@helper.select(billForm("CustomerID"), helper.options(List(models.activeUser.id.toString)))</li>
                    <li>@helper.select(billForm("PizzaName"), products.map(p => if(p.category.equals("Pizza")) {
                        p.name -> p.name
                    } else {
                        "" -> ""
                    }))</li>
                    <li>@helper.select(billForm("PizzaSize"), options = Seq("medium" -> "medium", "large" -> "large",
                        "xl" -> "xl"))</li>
                    <li>@helper.inputText(billForm("PizzaNumber"))</li>
                    <li>@helper.select(billForm("BeverageName"), products.map(b => if(b.category.equals("Getränk")) {
                        b.name -> b.name
                    } else {
                        "" -> ""
                    }))</li>
                    <li> @helper.select(billForm("BeverageSize"), options = Seq("medium" -> "medium", "large" -> "large",
                        "xl" -> "xl"))</li>
                    <li>@helper.inputText(billForm("BeverageNumber"))</li>
                    <li>@helper.select(billForm("DessertName"), products.map(s => if(s.category.equals("Dessert")) {
                        s.name -> s.name
                    }else {
                        "" -> ""
                    }))</li>
                    <li>@helper.inputText(billForm("DessertNumber"))</li>
                    <li><input type="submit" value="Zur Kasse"/></li>
                </ul>
            }
        </body>
}