@(orders: List[models.OrderHistory], sumOfOrders: Double, averageOrderSum: Double)(implicit request: play.api.mvc.RequestHeader)

@main(models.Company.name) {
    <ul id="simpleboxsmall" style="list-style: none">
        Folgende Bestellungen wurden aufgegeben:
        @for(order <- orders) {
            <li>Nutzer-ID: @order.customerID Bestell-ID: @order.orderID Nutzerdaten: @order.customerData Bestellung: @order.orderedProducts Betrag: @order.sumOfOrder Bestelldatum: @order.orderDate</li>
        }
        @if(sumOfOrders != 0) {
            <br/>
            Gesamtsumme der Bestellungen: @sumOfOrders €<br/>
            Durchschnittsbestellwert: @averageOrderSum €
        } else {
            Es wurden keine Bestellungen aufgegeben.
        }
    </ul>
}