@()(implicit request: play.api.mvc.RequestHeader)
@main("Rechnung") {

    <h1> Rechnung:</h1>
    <ul id="showBillView" style="list-style: none">
        <li>Anschrift: @OrderProcess.customerData</li>
        <li>Bestellung: @OrderProcess.orderedProducts</li>
        <li>Gesamtsumme: @OrderProcess.sumOfOrder € </li>
        <li>Datum: @OrderProcess.currentDate</li>
    </ul>

    <p><a id="showBillConfirmButton" href="/addToHistory" >Bestellung bestätigen</a></p>
    <p><a id="showBillCancelButton" href="/cancelOrder" >Bestellung abbrechen</a></p>
}